@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Switzer-Light";
  src: url("../public/fonts/Switzer-Light.otf");
}
@font-face {
  font-family: "Switzer-Medium";
  src: url("../public/fonts/Switzer-Medium.otf");
}
@font-face {
  font-family: "Switzer-Bold";
  src: url("../public/fonts/Switzer-Bold.otf");
}

@font-face {
  font-family: "Switzer-Light-Italic";
  src: url("../public/fonts/Switzer-LightItalic.otf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
