.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
  }
  
  h1 span {
    animation: pulsate 0.11s ease-in-out infinite alternate; 
  }
  
  @keyframes pulsate {    
    100% {  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #5271ff,
        0 0 80px #5271ff,
        0 0 90px #5271ff,
        0 0 100px #5271ff,
        0 0 150px #5271ff;  
    }
    
    0% {  
      text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #5271ff,
      0 0 73px #5271ff,
      0 0 80px #5271ff,
      0 0 94px #5271ff,
      0 0 140px #5271ff;
    }
  }

  .glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #8027EB, 0 0 40px #8027EB, 0 0 50px #8027EB, 0 0 60px #8027EB, 0 0 70px #8027EB;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ab7ee2, 0 0 40px #ab7ee2, 0 0 50px #ab7ee2, 0 0 60px #ab7ee2, 0 0 70px #ab7ee2, 0 0 80px #ab7ee2;
    }
  }


  .glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .fade-up-title {
    opacity: 0; /* Start with the text hidden */
    animation: fadeUpAnimation 1s ease-in-out forwards; /* Apply the animation */
  }

  .fade-up-subtitle {
    opacity: 0; /* Start with the text hidden */
    animation: fadeUpAnimation 2s ease-in-out forwards; /* Apply the animation */
  }
  
  .fade-up-button {
    opacity: 0; /* Start with the text hidden */
    animation: fadeUpAnimation 3s ease-in-out forwards; /* Apply the animation */
  }

  @keyframes fadeUpAnimation {
    from {
      opacity: 0.7; /* Start the animation with 0 opacity */
      transform: translateY(20px); /* Move the text 20px down */
    }
    to {
      opacity: 1; /* End the animation with full opacity */
      transform: translateY(0); /* Reset the text position */
    }
  }

  .logo-glow {
    z-index:1;
    filter: brightness(0) invert(1) blur(5px);
    -webkit-filter: brightness(0) invert(1) blur(5px);
    opacity:1;
  }